
#recruit {
    margin-top: 120px;
    max-width: 1200px;
}
.recruitWrapper {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    
}
.recruitBannar {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    img {
        height: 240px;
        margin: 0 10px 20px 10px;
    }
}

/*===========================================================*/
/* 嬉しい3つのポイント
/*===========================================================*/

.recruitBannar2 {
    display: flex;
    justify-content: center;
    align-items: center;
    img {
        width: 100%;
        max-width: 600px;
    }
}


.recruitDrection {
    text-align: center;
    max-width: 800px;
    margin: 0 auto;

    .recruitDrectionContents {
        border: solid 1px #775656;
        background-color: #FFF7F7;
        margin: 20px 0;
        padding: 0 5%;
        border-radius: 10px;

        h3 {
            font-size: 16px;
            padding-top: 20px;
            padding-bottom: 20px;
            color: #AD5454;
            border-bottom: solid 1px #775656;
            border-bottom-style: dashed;
            font-weight: bold;
        }
        p {
            font-size: 13px;
            padding-top: 20px;
            padding-bottom: 20px;
            line-height: 25px;
            color: #775656;
        }
    }
}

/*===========================================================*/
/* PC応募画面
/*===========================================================*/

.recruit-pcContact {
    border: solid 1px #775656;
    border-radius: 0 0 10px 10px;
    width: 90%;
    max-width: 800px;
    background-color: #FFDDDD;
    text-align: center;
    font-weight: bold;
    margin-bottom: 70px;
    .recruit-pcContact-topText {
        display: block;
        background-color: #775656;
        padding: 10px 0;
        color: #fff;
        font-size: 13px;
    }

    .recruit-pcContact-tel {
        display: flex;
        justify-content: space-around;
        align-items: center;
        color: #775656;
        margin: 30px 0;

        .recruit-aboutShop {
            text-align: left;
            .Name {
                font-size: 20px;
                margin-bottom: 15px;
            }
            .Time {
                font-size: 13px;
            }
        }
        .recruitTel {
            display: flex;
            align-items: center;
            justify-content: center;
            .icon {
                width: 35px;
                margin-right: 5px;
            }
            .tel {
                font-size: 45px;
                font-family: toppan-bunkyu-midashi-min-st,serif;
                font-weight: 900;
                font-style: normal;
            }
        }
    }

    .recruit-pcBtn {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 20px;
        .r-pcBtn {
            text-align: center;
            position: relative;
            padding: 20px 0;
            width: 40%;
            color: #fff;
            border-radius: 2px;
            border: solid 1px #fff;
            font-size: 16px;
            margin: 0 30px 20px 30px;
            img {
                position: absolute;
                right: 5px;
                width: 20px;
                top: 50%;
                transform: translateY(-50%);
                -webkit-transform: translateY(-50%);
                -ms-transform: translateY(-50%);
            }
        }
        .line {
            background-color: #13C610;
        }
        .mail {
            background-color: #C67210;
        }
    }
}

/*===========================================================*/
/* 求人情報（テーブル）
/*===========================================================*/

.recruitInfo-Wrapper {
    width: 90%;
    max-width: 800px;
}

.cast-recruitInfo {
    background: rgb(106,0,0);
    background: linear-gradient(0deg, rgba(106,0,0,1) 0%, rgba(201,8,8,1) 100%);
}

.recruitInfo-Title {
    width: 100%;
    height: 140px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1px;
}

.recruitInfo-Head {
    position: relative;
    display: inline-block;
    padding: 0 40px;
    font-size: 20px;
    font-family: heisei-mincho-std,serif;
    font-weight: 300;
    font-style: normal;
    color: #fff;
    
}

.recruitInfo-Head:before,
.recruitInfo-Head:after {
    content: '';
    position: absolute;
    top: 50%;
    display: inline-block;
    width: 20px;
    height: 1px;
    background-color: #fff;
}

.recruitInfo-Head:before {
    left: 0;
}

.recruitInfo-Head:after {
    right: 0;
}

.mens-recruitInfo{
    background: rgb(0,10,83);
    background: linear-gradient(0deg, rgba(0,10,83,1) 0%, rgba(0,69,255,1) 100%);
    margin-top: 50px;
}

.recruitTable {
    width: 100%;
    font-size: 12px;
    line-height: 22px;
    border-collapse: collapse;
    border:1px solid #333;
    margin-bottom: 10px;
    th {
        display:table-cell;
        vertical-align:middle;
        color: #fff;
        background-color: #000;
        text-align: center;
        width: 25%;
        border-collapse: collapse;
        border:1px solid #333;
        padding: 0 10px;
    }
    td {
        border-collapse: collapse;
        border:1px solid #333;
        padding: 30px 10px;
    }
}

.jobType {
    font-size: 16px;
    font-weight: bold;
    line-height: 20px;
    padding: 5px 0;
}

.tablePay {
    font-size: 20px;
    font-weight: bold;
}

/*===========================================================*/
/* フッター
/*===========================================================*/

.recruit-footer {
    margin-bottom: 90px;
    text-align: center;
    font-size: 13px;
}

.recruitFooter-Text {
    text-align: center;
    background-color: #000;
    color: #fff;
    p {
        font-size: 9px;
        padding: 5px 0;
    }
}

.recruitTelBtn {
    background-color: #00CBC3;
}
.recruitMailBtn {
    background-color: #FFA346;
}
.recruitLineBtn {
    background-color: #13C610;
}

/*===========================================================*/
/* PC画面
/*===========================================================*/
@media (min-width:767px) {
    .recruitTable {
        th {
            font-size: 14px;
        }
        td {
            font-size: 14px;
            padding: 30px 20px;
        }
    }
    .recruitDrection {
        .recruitDrectionContents {
            h3 {
                font-size: 18px;
            }
            p {
                font-size: 14px;
            }
        }
    }

    .recruitInfo-Head {
        font-size: 25px;
    }
}

/*===========================================================*/
/* スマホで消す
/*===========================================================*/


@media (max-width: 767px) {
    .recruit-pcContact {
        display: none;
    }
}